[advisories]
version = 2
ignore = [
    "RUSTSEC-2025-0057" # The fxhash crate is no longer maintained.
]

[licenses]
version = 2
confidence-threshold = 1.0
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "MPL-2.0",
    "BSD-3-Clause",
    "Unicode-3.0",
]
exceptions = [
    { allow = ["CDLA-Permissive-2.0"], crate = "webpki-roots" },
]
private.ignore = false

[bans]
multiple-versions = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
